<section class="h-full grid place-content-center">
  <mat-card>
    <mat-card-title>
      <h1 class="text-center pt-3">Login</h1>
    </mat-card-title>
    <mat-card-content>
      @if (errorMessage) {
      <div class="bg-red-500 text-white p-2">{{ errorMessage }}</div>
      }

      <form (submit)="login()" [formGroup]="form">
        <p>
          <mat-form-field class="w-full">
            <mat-label>Username</mat-label>
            <input
              matInput
              formControlName="username"
              required
              autocomplete="username"
            />
            @if (form.controls.username.invalid) {
            <mat-error class="text-xs">{{ getErrorUsernameMess() }}</mat-error>
            }
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              required
              autocomplete="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            @if (form.controls.password.invalid) {
            <mat-error class="text-xs">{{ getErrorPasswordMess() }}</mat-error>
            }
          </mat-form-field>
        </p>
        <div class="flex justify-end">
          <button type="submit" mat-button [disabled]="!form.valid">
            Login
          </button>
        </div>
        <div class="mt-2 flex justify-end tracking-wide text-xs">
          <span>No account?</span>
          <a
            class="ml-1 underline text-purple-600"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            >register</a
          >
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
