<div class="relative">
  @if (isLoadingResults) {
  <div
    class="grid place-content-center absolute top-0 left-0 right-0 bottom-14 z-[1] bg-[rgba(0,0,0,.15)]"
  >
    <mat-spinner></mat-spinner>
  </div>
  }

  <table mat-table [dataSource]="data">
    @for (column of columnsToDisplay; track column) { @if (column === "status")
    {
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select
            [value]="element['status']"
            (selectionChange)="onStatusChange($event, element['id'])"
          >
            <mat-option value="approve">Approve</mat-option>
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="deny">Deny</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
    } @else {
    <ng-container matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef>
        {{ capitalizeFirstLetter(column) }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>
    } }

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
