<div class="relative">
  @if (isLoadingResults) {
  <div
    class="grid place-content-center absolute top-0 left-0 right-0 bottom-14 z-[1] bg-[rgba(0,0,0,.15)]"
  >
    <mat-spinner></mat-spinner>
  </div>
  }

  <table mat-table [dataSource]="data">
    @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef>
        {{ capitalizeFirstLetter(column) }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      class="hover:bg-[whitesmoke] cursor-pointer"
    ></tr>
  </table>
</div>
