<footer>
  <mat-toolbar color="primary" class="!block !h-auto">
    <div class="py-8 flex flex-col items-center">
      <div class="mb-3 flex space-x-4">
        <a
          class="text-sm"
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:dev.phansihoang@gmail.com"
        >
          <span class="sr-only">mail</span>
          <mat-icon
            svgIcon="mail"
            aria-hidden="false"
            aria-label="Example thumbs up SVG icon"
          ></mat-icon>
        </a>
        <a
          class="text-sm"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/hoanggaphan"
        >
          <span class="sr-only">github</span>
          <mat-icon
            svgIcon="github"
            aria-hidden="false"
            aria-label="Example thumbs up SVG icon"
          ></mat-icon>
        </a>
        <a
          class="text-sm"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.facebook.com/hoang.phansi.3"
        >
          <span class="sr-only">facebook</span>
          <mat-icon
            svgIcon="facebook"
            aria-hidden="false"
            aria-label="Example thumbs up SVG icon"
          ></mat-icon>
        </a>
        <a
          class="text-sm"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.youtube.com/results?search_query=pokemon"
        >
          <span class="sr-only">youtube</span>
          <mat-icon
            svgIcon="youtube"
            aria-hidden="false"
            aria-label="Example thumbs up SVG icon"
          ></mat-icon>
        </a>
        <a
          class="text-sm"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/ho%C3%A0ng-phan-s%C4%A9/"
        >
          <span class="sr-only">linkedin</span>
          <mat-icon
            svgIcon="linkedin"
            aria-hidden="false"
            aria-label="Example thumbs up SVG icon"
          ></mat-icon>
        </a>
        <a
          class="text-sm"
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/hoanggaphan"
        >
          <span class="sr-only">twitter</span>
          <mat-icon
            svgIcon="twitter"
            aria-hidden="false"
            aria-label="Example thumbs up SVG icon"
          ></mat-icon>
        </a>
      </div>
      <div class="flex space-x-2 text-sm">
        <div>Phan Sĩ Hoàng</div>
        <div>•</div>
        <div>© {{ date }}</div>
        <div>•</div>
        <a href="/">Angular 17 Project</a>
      </div>
    </div>
  </mat-toolbar>
</footer>
